<%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/register.css">
  </head>

  <body>
    <%- include('./partials/header') %>


      <!-- Formulario -->
      <div class="contenedor-general">
        <form action="/users/register" method="post" class="create-form" enctype="multipart/form-data" id="form">
          <div class="control-formulario">
            <input type="text" name="name_and_surname" placeholder="Nombre y Apellido" class="control" id="name"
              value="<%= locals.oldData ? oldData.name : null%>"><i class="fa-solid fa-user"></i>
            <div id="nameError" class="alert-warning"></div>
            <% if (locals.errors && errors.name ) { %>
              <div class="text-danger">
                <%= errors.name_and_surname.msg %>
              </div>
              <% } %>
          </div>

          <!-- <div class="control-formulario">
            <input type="text" name="user" placeholder="Nombre de usuario" class="control"><i class="fa-solid fa-user"></i>
        </div> -->
          <div class="control-formulario ">
            <input type="email" name="email" placeholder="E-mail" class="control" id="email"
              value="<%= locals.oldData ? oldData.email : null%>"><i class="fa-solid fa-envelope"></i>
            <div id="emailError" class="alert-warning"></div>
            <% if (locals.errors && errors.email ) { %>
              <div class="text-danger">
                <%= errors.email.msg %>
              </div>
              <% } %>
          </div>


          <!-- <div class="control-formulario"> -->
          <!--    <div class="fecha-de-nacimiento">    
        <label for="birth_date" aria-placeholder="Fecha de nacimiento"><h4>Fecha de nacimiento :</h4> </label>
        </div> -->

          <!-- <div class="control-formulario">
        <input type="date" name="birth_date" id="birth_date" class="control" placeholder= "Fecha de nacimiento" >
        </div> -->

          <div class="control-formulario">
            <input type="text" name="address" placeholder="Domicilio" class="control" id="address"
              value="<%= locals.oldData ? oldData.addres : null%>"> <i class="fa-solid fa-map-location-dot"></i>
            <div id="addressError" class="alert-warning"></div>
            <% if (locals.errors && errors.address ) { %>
              <div class="text-danger">
                <%= errors.address.msg %>
              </div>
              <% } %>
          </div>

          <div class="control-formulario">
            <input type="tel" name="phone" placeholder="Teléfono" id="phone" class="control"
              value="<%= locals.oldData ? oldData.telefono : null%>"><i class="fa-solid fa-mobile-screen"></i>
            <div id="phoneError" class="alert-warning"></div>
            <% if (locals.errors && errors.telefono ) { %>
              <div class="text-danger">
                <%= errors.telefono.msg %>
              </div>
              <% } %>
          </div>
          <div></div>
      </div class="contenedor-final">
      <div class="control-formulario">
        <select name="country" class="control-pais" id="country" value="<%= locals.oldData ? oldData.country : null%>">
          <option value="">Elegí un país</option>
          <% let countries=['Argentina', 'Bolivia' ,'Brasil', 'Colombia' , 'Chile' , 'Ecuador' , 'Paraguay' , 'Perú'
            , 'Uruguay' ,'Venezuela']; %>
            <% for (const oneCountry of countries) { %>
              <option value="<%= oneCountry%>">
                <%= oneCountry %>
              </option>
              <% } %>
        </select>
        <div id="countryError" class="alert-warning"></div>
        <% if (locals.errors && errors.country ) { %>
          <div class="text-danger">
            <%= errors.country.msg %>
          </div>
          <% } %>
      </div>
      <div class="control-formulario">
        <!-- <p>Fecha de nacimiento :</p>  
        <input type="date" name="birth_date" id="birth_date" class="control" placeholder= "Fecha de nacimiento" >
        </div> -->


        <!-- <h4>Perfil del usuario</h4>
        <div class="profile">
            <input type="radio" name="profile" value="buy" id="buy">
            <label for="buy">Comprador</label>
            <input type="radio" name="profile" value="sell" id="sell">
            <label for="sell">Vendedor</label>
        </div> -->

        <!--  <h4>Intereses :</h4>
        <div class="interests">
            <div>
                <input type="checkbox" name="interests" value="a" id="a" class="interes-diseño">
                <label for="a">Gaming</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="b" id="b"class="interes-diseño">
                <label for="b">Celulares</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="c" id="c"class="interes-diseño">
                <label for="c">Computadoras</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="d" id="d"class="interes-diseño">
                <label for="d">Auriculares</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="e" id="e"class="interes-diseño">
                <label for="e">Relojes smartwatch</label>
            </div>
        </div> -->

        <h4>Elegí tu foto de usuario :</h4>
        <input type="file" name="avatar" id="image"
          class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
        <div id="imageError" class="alert-warning"></div>
        <% if (locals.errors && errors.avatar) { %>
          <div class="text-danger">
            <%= errors.avatar.msg %>
          </div>


          <% } %>




            <br>
            <br>
            <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" class="password"
              value="<%= locals.oldData ? oldData.password : null%>">
            <div id="passwordError" class="alert-warning"></div>
            <% if (locals.errors && errors.password ) { %>
              <div class="text-danger">
                <%= errors.password.msg %>
              </div>
              <% } %>
                <br>
                <br>
                <button type="submit" value="Enviar" class="Enviar">Enviar</button>
                <button type="reset" value="Borrar" class="Borrar">Borrar</button>
                <br>
                <br>
                </form>
      </div>
      </div>
      <%- include('./partials/footer') %>
        <script src="/js/register.js"></script>
        <!-- </div> --

</body>

</html>