<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/userProfile.css">

  <body>
    <%- include('./partials/header') %>

      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>Hola <%= user.name %>
            </h2>
            <div class="avatar">
              <img src="/img/avatars/<%= user.image %>">
            </div>
            <br>
            <br>
            <div class="alert alert-success">
              <%= user.email %>
            </div>
          </div>
        </div>
      </div>
      <!-- //Container -->

      <%- include('./partials/footer') %>
  </body>

</html>