<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCreate.css">
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <main class="containerCreate">
                <section class="row">
                    <h2 class="">Crear un Producto</h2>
                </section>

                <section class="">
                    <div class="admin-product-form-container">
                        <form action="/administrar/product/create" method="POST" enctype="multipart/form-data" id="form">
                            <div class="form-fields">
                                <div class="form-column">
                                    <div class="form-group">
                                        <input type="text"
                                            class="box <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                            name="name" id="name" placeholder="Nombre"
                                            value="<%= locals.oldData ? oldData.name : null%>">
                                            <div id="nameError" class="alert-warning"></div>
                                        <% if (locals.errors && errors.name ) { %>
                                            <div class="text-danger">
                                                <%= errors.name.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="box" name="stock" id="stock" placeholder="Stock"
                                            value="<%= locals.oldData ? oldData.stock : null%>">
                                            <div id="stockError" class="alert-warning"></div>
                                        <% if (locals.errors && errors.stock ) { %>
                                            <div class="text-danger">
                                                <%= errors.stock.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="form-group">
                                        <select class="box" id="category" name="category"
                                            value="<%= locals.oldData ? oldData.category : null%>">
                                            <option selected disabled value>Seleccionar Categoría</option>
                                            <% categories.forEach(category=> { %>
                                                <option value="<%= category.id %>" <%=locals.oldData &&
                                                    (category===oldData.category) ? 'selected' : null %>>
                                                    <%= category.category_name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <div id="categoryError" class="alert-warning"></div>
                                        <% if (locals.errors && errors.category ) { %>
                                            <div class="text-danger">
                                                <%= errors.category.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="box" name="price" id="price" placeholder="Precio"
                                            value="<%= locals.oldData ? oldData.price : null%>">
                                            <div id="priceError" class="alert-warning"></div>
                                        <% if (locals.errors && errors.price ) { %>
                                            <div class="text-danger">
                                                <%= errors.price.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="form-group">
                                        <input type="number" class="box" name="discount" id="discount" placeholder="0"
                                            value="<%= locals.oldData ? oldData.discount : null%>" min="0" max="50"
                                            step="5">
                                            <div id="discountError" class="alert-warning"></div>
                                        <% if (locals.errors && errors.discount ) { %>
                                            <div class="text-danger">
                                                <%= errors.discount.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="">
                                        <input type="text" class="box" name="brand" id="brand" placeholder="Marca"
                                            value="<%= locals.oldData ? oldData.brand : null%>">
                                            <div id="brandError" class="alert-warning"></div>
                                        <% if (locals.errors && errors.brand ) { %>
                                            <div class="text-danger">
                                                <%= errors.brand.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div>
                                        <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg"
                                            class="box">
                                            <div id="imageError" class="alert-warning"></div>
                                        <% if (locals.errors && errors.image ) { %>
                                            <div class="text-danger">
                                                <%= errors.image.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="box" name="description" id="description" placeholder="Descripción"
                                    value="<%= locals.oldData ? oldData.description : null%>"></textarea>
                                    <div id="descriptionError" class="alert-warning"></div>
                                <% if (locals.errors && errors.description) { %>
                                    <div class="text-danger">
                                        <%= errors.description.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="btn-gral">
                                <button type="submit" class="btn-save">Guardar</button>
                                <a href="/administrar">
                                    <input type="button" class="btn-back" value="Volver"></a>
                            </div>

                        </form>
                    </div>
                </section>
            </main>
            <script src="/js/product-create.js"></script>
    </body>

    </html>