<!doctype html>
<link rel="stylesheet" href="css/detail.css">
<html lang="en">
  <%- include('../partials/head.ejs') %> 
  <body>
    <main class="container-fluid">
      <%- include('../partials/header.ejs') %>   
      <!--Producto-->
      <br><br>
      <section class="row">
            <article class="col-12 col-md-6 mx-auto">
                <figure class="imagenProducto">
                  <img  src="/img/<%= miProduct.image%>" class="image-product" alt="Product">
                </figure> 
                <% if (miProduct.discount == 30) { %>
                  <img class="discount" src="/img/promo30.png" alt="Descuento 30%">
                <% } else if(miProduct.discount == 15){%>
                  <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
                <%}%>
                <div class="card-body">
                  <h5 class="card-title"><%= miProduct.name%></h5>
                  <h5 class="card-title">$ <%= miProduct.price %></h5>
                  <p class="card-text"><%= miProduct.description %></p>
                  
                </div>
                <a href="/administrar" class="btn btn-danger">Volver</a>
            </article>
      </section>
    </main>
    
  </body>
</html>
