<!doctype html>
<link rel="stylesheet" href="/css/administrar.css">
<link rel="stylesheet" href="/css/users/.css">
<script src="https://kit.fontawesome.com/4226102d17.js" crossorigin="anonymous"></script>
<html lang="es">
<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
  <body>
    <main class="container-fluid">

        <br>
        <section class="row">

          <h2 class="Administrador-Productos admin-users">Administrador de Usuarios<i ></i></i></h2>

          <div class="contenedor-table">
            <table class="table">
              <thead>
                <tr class="Barra-nombres">
                  <th scope="col">Id</th>
                  <th scope="col">Avatar</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Borrar</th>

                </tr>
              <tbody>
                <% users.forEach(users=> { %>

                  <tr>
                    <td>
                      <%= users.id%>
                    </td>
                    <td>
                      <img class="user-avatar" src="<%= users.image %>" alt="">
                    </td>
                    <td>
                      <%= users.name_and_surname %>
                    </td>
                    <td>
                      <form method="POST" action="/users/<%= users.id %>?_method=DELETE">
                        <button type="submit">
                          <ion-icon name="trash-outline"></ion-icon>
                        </button>
                      </form>
                    </td>



                    <!--      <td><a href="/users/delete/<%= users.id%>">
                        <botom>
                          <ion-icon name="trash-outline"></ion-icon>
                        </botom>
                      </a></td>
                  </tr> > -->
                    <% }); %>
              </tbody>
            </table>
          </div>

        </section>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </main>
    
  </body>

</html>