<!doctype html>
<link rel="stylesheet" href="/css/administrar.css">
<link rel="stylesheet" href="/css/users/.css">
<script src="https://kit.fontawesome.com/4226102d17.js" crossorigin="anonymous"></script>
<html lang="es">
<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
  <body style="background: #ebebeb">
    <main class="container-fluid" style="background: #ebebeb">

        <br>
        <section class="row">

          <h2 class="Administrador-Productos admin-users p-4">Administrador de Usuarios<i ></i></i></h2>

          <div class="row mb-4">
            <div class="contenedor-table col-sm-12 col-xl-8 m-auto rounded-3 border border-3">
              <table class="table">
                <thead>
                <tr class="Barra-nombres">
                  <th scope="col">Id</th>
                  <th scope="col">Avatar</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Borrar</th>

                </tr>
                <tbody>
                <% users.forEach(users=> { %>

                <tr>
                  <td>
                    <%= users.id%>
                  </td>
                  <td>
                    <img class="user-avatar" src="/img/avatars/<%= users.image %>" alt="">
                  </td>
                  <td>
                    <%= users.name_and_surname %>
                  </td>
                  <td>
                    <button class="border-0 text-danger bg-transparent" onclick="alertDelete('<%= users.id %>')">
                      <ion-icon name="trash-outline"></ion-icon>
                    </button>
                  </td>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>


        </section>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </main>

    <script src="/js/alert-delete.js"></script>
 
  </body>

</html>