<!doctype html>
<link rel="stylesheet" href="/css/administrar.css">
<html lang="es">
  <%- include('../partials/head.ejs') %>    
<body>
    <main class="container-fluid">
      <%- include('../partials/header.ejs') %>
      <!--Administrador de productos-->
      <br>
      <section class="row">
        <!-- <article class="col-12-titulo"> -->
          <h2 class="Administrador-Productos">Administrador de Usuarios<i class="fa-brands fa-product-hunt"></i></h2>
        <!-- </article> -->
        <!-- <article class="col-12-Agregar"> -->
         <div>
          <a href="/users/create" class="col-12-Agregar"><ion-icon name="add-circle-outline"></ion-icon>Agregar usuario</a> 
          </div>
       <!--  </article> -->
        <!-- <article class="col-12-table" > -->
        <div class="contenedor-table">
        <table class="table">
            <thead>
              <tr class="Barra-nombres">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(users => { %>
              <tr>
                <td><%= users.id%> </td>
                <td><%= users.name%> </td>
                <td><a href="/users/detail/<%= users.id%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                <td><a href="/users/edit/<%= users.id%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                <td><a href="/users/delete/<%= users.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
              </tr>
              <% }); %>
            </tbody>
          </table> 
        </div>
        <!-- </article>    -->    
      </section>
      <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>