<!doctype html>
<link rel="stylesheet" href="/css/administrar.css">
<script src="https://kit.fontawesome.com/4226102d17.js" crossorigin="anonymous"></script>
<html lang="es">
  <%- include('../partials/head.ejs') %>    
<body>
    <main class="container-fluid">
      <%- include('../partials/header.ejs') %>
     
      <br>
      <section class="row">
        
          <h2 class="Administrador-Productos">Administrador de Usuarios<i ></i></i></h2>
     
        <div class="contenedor-table">
        <table class="table">
            <thead>
              <tr class="Barra-nombres">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                
                <th scope="col">Borrar</th>
              </tr>
              <tbody>
              <% users.forEach(users => { %>
              <tr>
                <td><%= users.id%> </td>
                <td><%= users.name%> </td>
                
                <td><a href="/user/delete/<%= users.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
              </tr>
              <% }); %>
            </tbody>
          </table> 
        </div>
      
      </section>
      <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>