<%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/productCreate.css">
  </head>

  <body>
    <%- include('../partials/header') %>
      <main class="container">


        <!-- Cuerpo principal -->
        <section class="row">
          <div class="card-body">
            <h2 class="display-4 text-white bg-info text-center pt-2">Actualizar un Usuario</h2>
          </div>
        </section>

        <section class="bg-home pt-4">
          <div class="admin-users-form-container">
            <form action="/users/edit/<%= usersEditar.id%>?_method=PUT" method="POST">
              <div class="form-fields">
                <div class="form-column">
                  <div class="form-group">
                    <input type="text" class="box" name="first_name" placeholder="first_Name" required="required"
                      value="<%= usersEditar.first_name%>">
                  </div>
                  <div class="form-group">
                    <input type="text" class="box" name="last_name" placeholder="last_Name" required="required"
                      value="<%= usersEditar.last_name%>">
                  </div>
                  <div class="form-group">
                    <input type="text" class="box" name="age" placeholder="age" required="required"
                      value="<%= usersEditar.age%>">
                  </div>
                  <div class="form-group">
                    <input type="text" class="box" name="email" placeholder="email" required="required"
                      value="<%= usersEditar.email%>">
                  </div>
                  <div class="form-group">
                    <input type="text" class="box" name="password" placeholder="password" required="required"
                      value="<%= usersEditar.password%>">
                  </div>
                  <div class="form-group">
                    <input type="text" class="box" name="document" placeholder="document" required="required"
                      value="<%= usersEditar.document%>">
                  </div>


                </div>
              </div>

              <div class="btn">
                <button type="submit" class="btn-save">Actualizar</button>
                <a href="/users">
                  <input type="button" class="btn-back" value="Volver"></a>
              </div>

            </form>
          </div>
        </section>
      </main>
  </body>

  </html>